body {
	font-family: Arial, sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}
header {
	background-color: #1d4372;
	color: white;
	text-align: center;
	padding: 1rem;
}
main {
	padding: 1rem;
	background-color: #ffffff;
	color: #3c7bb3;
}
footer {
	background-color: #3c7bb3;
	color: white;
	text-align: center;
	padding: 1rem;
}
